<h1 class="headings">{{work.title}}</h1>
{{#if work}}
  <a id="work-link" href="{{work.link}}">{{work.link}}</a>
  <p class="work-attributes"> Course: {{work.course}}</p>
  <p class="work-attributes"> {{work.year}}</p>

  {{#if session.isLoggedIn}}
    <form action="/delete-work/{{work.id}}" method="POST">
      <input class="crud-buttons" type="submit" value="DELETE" />
    </form>

    <form action="/update-work/{{work.id}}">
      <input class="crud-buttons" type="submit" value="UPDATE" />
    </form>
  {{/if}}

{{else}}
  <p>That work do not exist.</p>
{{/if}}